@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.container-sm {
    width: 570px;
    border: 1px rgb(188, 188, 188) solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;

}

.input-group-text {
    width: 200px;
}

#basic-addon1 {
    background-color: rgb(240, 205, 240);
}

.btn-primary {
    background-color: rgb(240, 205, 240);
    border: 1px solid rgb(195, 195, 195);
    font-weight: bolder;
}

header {
    background-color: #E7CDD0;
    height: 100px;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #E7CDD0;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}

#lotus {
    height: 50px;
    margin: 5px auto;
}

#title {
    margin: -10px auto;
    font-family: 'Dancing Script', cursive;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: gray;
}

a:hover {
    color: black;
  }